/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@100;400;500&display=swap");
/* GOOGLE FONTS */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/portrait.png);
  background-repeat: no-repeat;
  background-color: #eaeaea;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
}


@font-face {
  font-family: myFont;
  src: url(Aquire.otf);
}

/*----------------------- NAV SECTION ------------------------ */

.logo {
  font-family: myFont;
}

.logo a:hover {
  color: rgb(44, 44, 44);
}
a {
  text-decoration: none;
  color: #000;
}
.nav-text {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.nav-text:hover {
  color: rgb(179, 0, 0);
}

header {
  background-color: #eaeaea;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  z-index: 999;
  position: relative;
  z-index: 10;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 1.25rem;
}

li a {
  color: #000;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.open {
  height: 100vh;
}

.hidden {
  display: none;
}

/* -------------------------------------------------------------*/
/*--------------------------- SOCIAL LINKS *---------------------*/

.social-links {
  position: fixed;
  top: 80%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  justify-content: center;
}


.social-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f1f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 10px 25px -5px #0000070;
  overflow: hidden;
  color: rgb(20, 20, 20);
  position: relative;
  z-index: 2;
}

.social-icon i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}

.social-icon:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.social-icon::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: rgb(31, 31, 31);
  transform: rotate(45deg);
  left: -110;
  top: 90%;
}

.social-icon:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -100%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

/* ----------------------------------------------------------------- */
/*--------------------------- MEDIA QUERIES----------------------------------- */

@media all and (max-width: 720px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }

  li a {
    font-size: 1.4rem;
  }

  .nav-toggle {
    display: block;
  }
  .social-links {
    width: 50%;
    position: relative;
    padding-bottom: 10%;
  }
  header {
    z-index: 1;
  }
}

@media all and (max-width: 280px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }

  li a {
    font-size: 1.4rem;
  }

  .nav-toggle {
    display: block;
  }
  .social-links {
    width: 30%;
    top: 60%;
    position: relative;
    padding-bottom: 10%;
  }
} 